apiVersion: v1
kind: Service
metadata:
  name: frontend-app  # Same as docker-compose service name
  namespace: microservices
  labels:
    app: frontend-app
spec:
  selector:
    app: frontend-app
  ports:
  - name: http
    port: 5000
    targetPort: 5000
    protocol: TCP
  type: LoadBalancer