apiVersion: v1
kind: Service
metadata:
  name: frontend-app
  namespace: microservices
  labels:
    app: frontend-app
spec:
  type: NodePort
  selector:
    app: frontend-app
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
    nodePort: 30009
